In [1]:
import requests
from bs4 import BeautifulSoup as b4
import pandas as pd
titles=[]
release_year=[]
duration=[]
m_type=[]
for j in range(1,50):
    url=f"https://1flix.to/movie?page={j}"
    r=requests.get(url)
    soup=b4(r.text,"lxml")
    container=soup.find("div",class_="film_list-wrap")
    movie_container=container.find_all("div",class_="flw-item")
    for i in movie_container:
        movie_name=i.find("a",class_="film-poster-ahref flw-item-tip")
        r_movie_name=movie_name.get('title')
        titles.append(r_movie_name)
        release_date=i.find("span",class_="fdi-item").text
        release_year.append(release_date)
        movie_time=i.find("span",class_="fdi-item fdi-duration")
        if movie_time:
            duration.append(movie_time.text[0:-1]+"min")
        else:
            duration.append("none")
        movie_type=i.find("span",class_="float-right fdi-type")
        if movie_type:
            m_type.append(movie_type.text)
        else:
            m_type.append("none")
df=pd.DataFrame({"movie_name":titles,"release_year":release_year,"duration":duration,"movie_type":m_type})
df.to_csv("movies_list.csv")
df

                               movie_name release_year duration movie_type
0                               Un-Ex You         2025    98min      Movie
1           Countdown: Taylor vs. Serrano         2025    50min      Movie
2                               Thug Life         2025   165min      Movie
3                       The Secret Recipe         2025   121min      Movie
4                         Secret Delivery         2025    97min      Movie
...                                   ...          ...      ...        ...
1563                          Inheritance         2025   101min      Movie
1564                              Dog Man         2025    89min      Movie
1565               With You in the Future         2025    91min      Movie
1566  The Lion King at the Hollywood Bowl         2025    68min      Movie
1567                           Blood Star         2024    97min      Movie

[1568 rows x 4 columns]